* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5dfc7;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(54, 54, 54);
    padding: 30px;
    height: 100vh;
}

html, body {
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #267a40;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.sidebar li:hover {
    background: #2B6B5F;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.dashboard-main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

.dashboard-header {
    background-color: #e5f4e1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: rgba(255, 0, 0, 0.705);
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #267a40;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 8vh;
    
}
  
button:hover {
    background-color: #2B6B5F;
    transform: translateY(-2px);
}
  
button:active {
    transform: translateY(0);
}
  
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}
  
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #267a40;
    outline: none;
}

select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    width: 100%;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    margin-bottom: 10px;
} 

select:focus {
    border-color: #267a40;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}

select:hover {
    border-color: #2B6B5F;
    background-color: #e5f4e1;
}
  
option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}
  
option:hover {
    background-color: #267a40;
    color: white;
}
