:root {
    --base: #013932;
    --hover: #2B6B5F;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(54, 54, 54);
    height: 100vh;
}

/* Container vertical para páginas de autenticação */
.authDesign {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 0;
}

.authDesign .left,
.authDesign .right {
    height: 100%;
    width: 50%;
    padding: 20px;
    margin: 0;
}

.authDesign .left {
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.authDesign .left h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
}

.authDesign .left p {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.authDesign .right {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authDesign .right p {
    padding: 20px;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Botões e formulários exclusivos da index/login/register */
.btn {
    font-size: 20px;
    text-decoration: none;
    background-color: var(--base);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    text-align: center;
}

.btn:hover {
    background-color: var(--hover);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--base);
    outline: none;
}

select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    width: 100%;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

select:focus {
    border-color: var(--base);
    background-color: #fff;
    color: #333;
}

select:hover {
    border-color: var(--hover);
    background-color: #e5f4e1;
}

option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}

option:hover {
    background-color: var(--base);
    color: white;
}